/* Custom style for the rainbow mode checkbox */
#check {
    margin-top: 40px;
    width: 28px;
    height: 28px;
    border-radius: 7px;
    /* Make BG Dark*/
    box-shadow: 0 0 8px 2px #00000088;
    transition: box-shadow 0.3s;
    outline: none;
    cursor: pointer;
    background-color: #000;
    appearance: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    

}
#check:checked {
    background-color: white;
    box-shadow: 0 0 16px 4px #FFFFFF88;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    user-select: none;
}
body {
    background-color: #161125;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

input,textarea{
    outline:none;
    border: 0;
    text-align: center;
    background-color: #181818;
    border-radius: 5px;
    
    resize: none;
}
textarea {
    width: 400px;
    height: 200px;
    background-color: #1b1b1b;

}
button {
    width:100px;
    height:50px;
    font-size: large;
    font-weight: bold;
    margin: 7px;
    border:4px #ffffff solid;
    border-radius: 15px;
    background-color: transparent;
    transition: width height 1s ease-in-out;
}
button:hover{
    width: 98px;
    height:48px;


}
#tool {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px;
    background-color: #0f0f0f;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#tool::after, #tool::before{
    content: '';
    border-radius: 20px;
    padding: 6px;
    z-index: -1;
    width:100%;
    height: 100%;
    position: absolute;
    background-image: conic-gradient(from var(--angle),#2e5274,#231b3f,#410b7e,#2e5274);
    animation: 6s spin linear infinite;
}
.rainbow#tool::after, .rainbow#tool::before {
    background-image: conic-gradient(from var(--angle),red,orange,yellow,green,blue,indigo,violet,red);
}
@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

#tool::before {
    filter: blur(1.5rem);
}