:root {
    --color-primary: #99e1a5;
    --color-primary-dark: #3c9f49;
    --color-secondary: #a7d1ec;
    --color-secondary-dark: #40789b;
}
* {
    border: 0;
    margin: 0;
    font-family: "Space Mono";
    box-sizing: border-box;
    user-select: none;

}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: linear-gradient(0deg, var(--color-primary) 20%, var(--color-secondary) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.topbar>h1 {
    font-size: large
}
img {
    width: 20.9px;
    height: 12.5px;
    rotate: 90deg;
    transition: 0.2s all ease-in-out;
}
.pressed {

    rotate: 180deg;
}
.topbar {

    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 1px rgb(144, 144, 144);
    text-align: center;
    color: var(--color-primary);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--color-secondary);
    margin: 80px;


    border-radius: 30px;
    min-height: calc(100vh - 240px); 
    box-shadow: 0px 0px 20px 3px rgb(144, 144, 144);
}
#projects>h1 {
    margin-top:5px;
}
#projectlist {
    margin: 35px;
    
    min-width: calc(100vw - 270px);
    height: calc(100vh - 400px);
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px 3px rgb(144, 144, 144);
    background-color: #cbcbcb;

}
::-webkit-scrollbar{
    visibility:hidden
}
::-webkit-scrollbar-thumb{
    visibility: visible;
    border-radius: 10px;
    width: 20px;
    background-color: rgba(from var(--color-primary-dark) r g b / 0.5);
    transform: translate(-20px 0px);
    transition: 0.1s all ease-in-out;
}
::-webkit-scrollbar-thumb:hover{

    background-color: rgba(from var(--color-primary-dark) r g b / 0.75)

}
::-webkit-scrollbar-thumb:active{

    background-color: var(--color-primary-dark);

}
#container {
    margin: 20px;
    overflow-y: scroll;
    max-height: 90%;
}
.dropdown {
    min-height: 25px;
    transition:  0.2s all ease-in-out;
    display: flex;
    flex-direction: column;
}
.dropdown-body {
    display: flex;          
    flex-direction: row;    
    align-items: stretch; 
    gap: 10px;              
    width: 100%;
    flex-grow: 1;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdownactive {
    min-height: 150px;
}
.dropdown-header {
    display: flex;
    align-items: center;
    
    gap: 10px;
    color: var(--color-secondary-dark);

}
.line {
    width: 2px;
    background-color: black;
    border-radius: 8px;
    margin-left: 10px; 

    opacity: 0.5;
}
.contents {
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-right: 2px;
    flex-grow: 1;

}
.project {
    background-color: white;
    width: 182.4px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;

    overflow: hidden;
    height: 0px;
    color:var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    text-align: center;
    align-self: center;
    align-content: center;
        box-shadow: 0px 0px 0px 0px rgb(144, 144, 144);

}
.projectopen {
    box-shadow: 0px 0px 8px 2px rgb(144, 144, 144);

    height: 80%;

}
.not-here {
    color: var(--color-primary-dark);
    font-size: 0;   /* hidden by default */
    height: 0;      /* hidden by default */
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

/* when dropdown is open, show it */

.not-here {
    font-size: medium;
    height: auto;
}